.svg {
  width: 35px;
  padding: 3px;
}

body {
	font-family: Helvetica;
}

@mixin border($radius, $thickness){
  border: $thickness solid;
  border-radius: $radius;
}

ol, ul {
	list-style: none;
}

.container{
  padding-top: 30px;
}

#date-btn{
  display: block;
  padding: 5px;
  float: right;
}



#map {
  height: 25%;
  @include border(10px, 1px);
}
